<app-navigation-bar></app-navigation-bar>
<div class="page-content">
    <div class="container flex">
        <!-- SVG Starts-->
        <div class="svg-content">
            <img src="assets/SignUp.svg" alt="No image available">
        </div>
        <!-- SVG Ends -->

        <!-- Form Starts -->
        <div class="form-content">
            <h1 class="title">Sign-Up</h1>
            <form [formGroup]=signUpForm>
                <mat-grid-list cols="1" rowHeight="10vh">

                    <mat-grid-tile>
                        <mat-form-field>
                            <mat-label>User Name</mat-label>
                            <input type="text" matInput placeholder="User Name" formControlName="userName">
                            <mat-error *ngIf="userNameEntity && userNameEntity.invalid && userNameEntity.touched">
                                This field cannot be left blank.</mat-error>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input type="email" matInput placeholder="Email" formControlName="email">
                            <mat-error *ngIf="emailEntity && emailEntity.invalid && emailEntity.touched">
                                This field cannot be left blank</mat-error>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field>
                            <mat-label>Password</mat-label>
                            <input type="password" matInput placeholder="Password" formControlName="password">
                            <mat-error *ngIf="passwordEntity && passwordEntity.invalid && passwordEntity.touched">
                                This field cannot be left blank</mat-error>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field>
                            <mat-label>Confirm Password</mat-label>
                            <input type="text" matInput placeholder="Confirm Password"
                                formControlName="confirmPassword">
                        </mat-form-field>
                    </mat-grid-tile>

                </mat-grid-list>

                <mat-grid-list cols="1" rowHeight="10vh">
                    <mat-grid-tile>
                        <button mat-raised-button color="primary" (click)="signUp()" [disabled]="signUpForm.invalid"
                            class="sign-up-button">Sign Up</button>
                    </mat-grid-tile>
                </mat-grid-list>

            </form>
        </div>
        <!-- Form Ends -->
    </div>

</div>